In [30]:
import numpy as np
import pandas as pd

In [38]:
files = !ls data/*.csv
files[:]

['zsh:1: no matches found: data/*.csv']

In [3]:
df = pd.read_csv(files[2])
df

,Unnamed: 0,follower_uid,target_uid,follow_time,is_follower_deleted,is_target_deleted,is_email_enabled
0,0,8994,797923,2022-03-01 14:40:40,False,False,1
1,1,8994,3407987,2022-02-25 17:55:50,False,False,1
2,2,8994,10136582,2022-02-25 17:54:30,False,False,1
3,3,8994,13421205,2022-03-01 14:36:48,False,False,1
4,4,46649,5098613,2022-05-22 13:22:00,False,False,1
...,...,...,...,...,...,...,...
341679,341679,26283948,3045460,2022-06-24 13:21:59,False,False,1
341680,341680,26284046,2005611,2022-06-12 08:33:55,False,False,1
341681,341681,26284046,2603278,2022-06-14 01:08:32,False,False,1
341682,341682,26284089,381358,2022-06-01 02:22:46,False,False,1
341683,341683,26284089,2168285,2022-05-31 23:56:28,False,False,1

In [32]:
starts_df = pd.read_csv('../capstone_data/skillshare_2022_starts.csv')

/Users/travisstowe/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (24,53) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
starts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655203 entries, 0 to 655202
Data columns (total 75 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     655203 non-null  int64
 1   id                             655203 non-null  int64
 2   user_uid                       649630 non-null  float64
 3   is_active                      655203 non-null  bool
 4   create_time                    655203 non-null  object
 5   update_time                    655203 non-null  object
 6   realized_end_time              655203 non-null  object
 7   expiration_time                459857 non-null  object
 8   first_payment_time             209937 non-null  object
 9   last_payment_time              209937 non-null  object
 10  next_billing_time              189660 non-null  object
 11  last_payment_attempt           320674 non-null  object
 12  last_failed_payment_attempt    120516 non-null  object
 13  user_cancellation_time         312566 non-null  object
 14  cancellation_time              459970 non-null  object
 15  refund_time                    32911 non-null   object
 16  plan_length                    655068 non-null  float64
 17  plan_id                        655075 non-null  object
 18  coupon_id                      450837 non-null  float64
 19  coupon_code                    450837 non-null  object
 20  coupon_trial_length            442591 non-null  float64
 21  payment_provider               627696 non-null  object
 22  payment_ux                     556343 non-null  object
 23  is_paused                      655203 non-null  bool
 24  pause_time                     737 non-null     object
 25  upgraded_subscription_from_id  12804 non-null   float64
 26  is_refunded                    655203 non-null  bool
 27  is_resume                      655203 non-null  bool
 28  paid_through                   211173 non-null  object
 29  is_lapsed                      655203 non-null  bool
 30  is_pending                     655203 non-null  bool
 31  is_cancelled                   655203 non-null  bool
 32  has_paid                       655203 non-null  bool
 33  is_paid                        655203 non-null  bool
 34  upgraded_subscription_to_id    5771 non-null    float64
 35  trial_end                      593494 non-null  object
 36  is_team                        655203 non-null  bool
 37  is_no_cc_trial                 655203 non-null  bool
 38  is_scholarship                 655203 non-null  bool
 39  category                       655203 non-null  object
 40  num_payments                   655203 non-null  int64
 41  num_successful_payments        655203 non-null  int64
 42  first_payment_currency_code    187264 non-null  object
 43  subscription_number            655203 non-null  int64
 44  paid_subscription_number       209937 non-null  float64
 45  eligible_subscription_number   627696 non-null  float64
 46  is_p1_refunded                 655203 non-null  bool
 47  is_upgrade                     655203 non-null  bool
 48  upgraded_from_id               3402 non-null    float64
 49  was_upgraded                   655203 non-null  bool
 50  upgraded_to_id                 1937 non-null    float64
 51  was_upgraded_to_p1_refunded    1937 non-null    object
 52  upgrade_time                   1937 non-null    object
 53  upgraded_to_expiration_time    306 non-null     object
 54  trial_extension_time           65242 non-null   object
 55  trial_extended_from_id         65242 non-null   float64
 56  trial_extended_to_id           65242 non-null   float64
 57  original_create_time           655203 non-null  object
 58  original_trial_end             593494 non-null  object
 59  extended_trial_end             65242 non-null   object
 60  was_trial_extended             655203 non-null  bool
 61  is_trial_extension             655203 non-null  bool
 62  is_split_trial                 655203 non-null  bool
 63  is_paid_reactivation           655203 non-null  bool
 64  trial_length_days              593494 non-null  float64
 65  is_direct_to_paid              655203 non-null  bool
 66  trial_length_offer             655203 non-null  object
 67  had_trial                      655203 non-null  bool
 68  sub_utm_source                 485982 non-null  object
 69  sub_utm_campaign               424982 non-null  object
 70  sub_utm_medium                 486129 non-null  object
 71  sub_utm_term                   202626 non-null  object
 72  sub_utm_channel                655203 non-null  object
 73  referral_source                212926 non-null  object
 74  eligible_trial_number          555781 non-null  float64
dtypes: bool(21), float64(14), int64(5), object(35)
memory usage: 283.1+ MB

In [34]:
starts_df = starts_df[starts_df['plan_length'] == 12]
starts_df = starts_df[starts_df['is_team'] == False]
starts_df = starts_df[starts_df['is_scholarship'] == False]

In [35]:
starts_df = starts_df[starts_df['is_direct_to_paid'] == False]
starts_df = starts_df[starts_df['had_trial'] == True]

In [36]:
starts_df = starts_df[starts_df['trial_length_offer'].isin(['One Week', 'One Month'])]

In [37]:
starts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483026 entries, 1 to 655202
Data columns (total 75 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     483026 non-null  int64
 1   id                             483026 non-null  int64
 2   user_uid                       483026 non-null  float64
 3   is_active                      483026 non-null  bool
 4   create_time                    483026 non-null  object
 5   update_time                    483026 non-null  object
 6   realized_end_time              483026 non-null  object
 7   expiration_time                358374 non-null  object
 8   first_payment_time             142933 non-null  object
 9   last_payment_time              142933 non-null  object
 10  next_billing_time              122519 non-null  object
 11  last_payment_attempt           229388 non-null  object
 12  last_failed_payment_attempt    94940 non-null   object
 13  user_cancellation_time         247676 non-null  object
 14  cancellation_time              358486 non-null  object
 15  refund_time                    27385 non-null   object
 16  plan_length                    483026 non-null  float64
 17  plan_id                        483026 non-null  object
 18  coupon_id                      325825 non-null  float64
 19  coupon_code                    325825 non-null  object
 20  coupon_trial_length            321437 non-null  float64
 21  payment_provider               480097 non-null  object
 22  payment_ux                     418093 non-null  object
 23  is_paused                      483026 non-null  bool
 24  pause_time                     77 non-null      object
 25  upgraded_subscription_from_id  459 non-null     float64
 26  is_refunded                    483026 non-null  bool
 27  is_resume                      483026 non-null  bool
 28  paid_through                   142936 non-null  object
 29  is_lapsed                      483026 non-null  bool
 30  is_pending                     483026 non-null  bool
 31  is_cancelled                   483026 non-null  bool
 32  has_paid                       483026 non-null  bool
 33  is_paid                        483026 non-null  bool
 34  upgraded_subscription_to_id    2970 non-null    float64
 35  trial_end                      483026 non-null  object
 36  is_team                        483026 non-null  bool
 37  is_no_cc_trial                 483026 non-null  bool
 38  is_scholarship                 483026 non-null  bool
 39  category                       483026 non-null  object
 40  num_payments                   483026 non-null  int64
 41  num_successful_payments        483026 non-null  int64
 42  first_payment_currency_code    122629 non-null  object
 43  subscription_number            483026 non-null  int64
 44  paid_subscription_number       142933 non-null  float64
 45  eligible_subscription_number   480097 non-null  float64
 46  is_p1_refunded                 483026 non-null  bool
 47  is_upgrade                     483026 non-null  bool
 48  upgraded_from_id               0 non-null       float64
 49  was_upgraded                   483026 non-null  bool
 50  upgraded_to_id                 1558 non-null    float64
 51  was_upgraded_to_p1_refunded    1558 non-null    object
 52  upgrade_time                   1558 non-null    object
 53  upgraded_to_expiration_time    266 non-null     object
 54  trial_extension_time           41562 non-null   object
 55  trial_extended_from_id         41562 non-null   float64
 56  trial_extended_to_id           41562 non-null   float64
 57  original_create_time           483026 non-null  object
 58  original_trial_end             483026 non-null  object
 59  extended_trial_end             41562 non-null   object
 60  was_trial_extended             483026 non-null  bool
 61  is_trial_extension             483026 non-null  bool
 62  is_split_trial                 483026 non-null  bool
 63  is_paid_reactivation           483026 non-null  bool
 64  trial_length_days              483026 non-null  float64
 65  is_direct_to_paid              483026 non-null  bool
 66  trial_length_offer             483026 non-null  object
 67  had_trial                      483026 non-null  bool
 68  sub_utm_source                 356009 non-null  object
 69  sub_utm_campaign               322024 non-null  object
 70  sub_utm_medium                 356092 non-null  object
 71  sub_utm_term                   151553 non-null  object
 72  sub_utm_channel                483026 non-null  object
 73  referral_source                153492 non-null  object
 74  eligible_trial_number          480097 non-null  float64
dtypes: bool(21), float64(14), int64(5), object(35)
memory usage: 212.4+ MB